<!doctype html>
<html ng-app="ExpediaHackathon">

	<head>
		<title>Hotel-Spider - Expedia Hackathon 2017</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="bstheme.min.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
        <script src="node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
        <script src="node_modules/angular-base64/angular-base64.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry&key=AIzaSyCUVSq6ZVL0LIYuRGkGcmCI0Fyv4BlvHwU" type="text/javascript" defer></script>
        <script src="js/MediaTaggingService.js"></script>
        <script src="js/ReviewAnalysisService.js"></script>
        <script src="js/DescriptionGeneratorService.js"></script>
        <script src="js/AmenitiesMappingService.js"></script>
        <script src="resources/amenities.js"></script>
        <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
        <script src="resources/neighborhood_178281_madrid.json"></script>
        <script src="resources/neighborhood_179898_paris.json"></script>
        <script src="resources/neighborhood_178293_new_york.json"></script>
        <script src="resources/activity_categories_178281_madrid.json"></script>
        <script src="resources/activity_categories_179898_paris.json"></script>
        <script src="resources/activity_categories_178293_new_york.json"></script>
        <script src="ExpediaHackathon.js"></script>
	</head>
	<body ng-controller="uploadController">
      
      <div id="explanation" ng-show="EngagingAnalysis">
        <ul class="list-unstyled">
          <li><img src="loader.gif" /> Uploading photos</li>
          <li><img src="loader.gif" /> Analysing photos with MTS</li>
          <li><img src="loader.gif" /> Sorting photos with MTS</li>
          <li><img src="loader.gif" /> Finding POI with TCS and Google API</li>
          <li><img src="loader.gif" /> Analysing reviews from Airbnb with Expedia NLP : extracting amenites and other information</li>
          <li><img src="loader.gif" /> Generating and autocompleting content</li>
      </div>
      
      <nav id="myNavBar" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        Onboard a new property
      </nav>
      
		<div class="container" style="padding-top: 70px;">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
						<li class="nav-item"> <a class="nav-link" ng-class="{ 'active' : step == 1 }" href="#first" ng-click="step=1">1. Enter property information</a>

						</li>
						<li class="nav-item"> <a class="nav-link" ng-class="{ 'active' : step == 2 }" href="#second" ng-click="step=2">2. Uploads photos</a>

						</li>
						<li class="nav-item"> <a class="nav-link" ng-class="{ 'active' : step == 3 }" href="#third" ng-click="step=3">3. Analysis</a>

						</li>
					</ul>
				</div>
			</div>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in" id="first" ng-class="{ 'active' : step == 1 }">
					 <h2>Property description</h2>

					<div id="propertyInformation">
						<div class="form-group">
							<label>Property name</label>
							<input type="text" class="form-control" ng-model="HotelName" />
						</div>
						<div class="form-group">
							<label>Property address</label>
							<input type="text" class="form-control" id="physicalautocomplete" placeholder="Enter your address" autocomplete="false" />
						</div>
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Latitude</label> <br/>
                                <input ng-change="unsavedChanges('General')" type="text" class="text form-control" name="Latitude" ng-model="PhysicalContact.Addresses.Address[0].Latitude" disabled="disabled"/>
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label">Longitude</label> <br/>
                                <input ng-change="unsavedChanges('General')" type="text" class="text form-control" name="Longitude" ng-model="PhysicalContact.Addresses.Address[0].Longitude" disabled="disabled"/>
                            </div>
                        </div>
                        <div id="map-canvas" style="  height: 290px;  margin-top: 20px;  width: 100%;"></div>
                        
						<div id="importComments" style="margin-top:25px">
							 <h5>Analyse comments from</h5>

							<table class="table">
								<tr>
									<td width="30">
										<input type="checkbox" checked="checked" />
									</td>
									<td width="100">
										<label>Airbnb</label>
									</td>
									<td>
										<input type="text" ng-model="airbnburl" class="form-control" />
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" checked="checked"  />
									</td>
									<td>
										<label>Google</label>
									</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" />
									</td>
									<td>
										<label>Expedia</label>
									</td>
									<td>
										<input type="text" placeholder="Please enter the hotelcode" class="form-control" />
									</td>
								</tr>
							</table>
						</div>
					</div>
					<hr />
					<div id="room">
						 <h2>RoomType</h2>
						<div class="form-group">
							<label>Please select a predefined room type :</label>
							<select class="form-control">
								<option value="Apartment, 1 Bedroom">Apartment, 1 Bedroom</option>
								<option value="Apartment, 2 Bedrooms">Apartment, 2 Bedrooms</option>
								<option value="Classic Double Room">Classic Double Room</option>
								<option value="Classic Room">Classic Room</option>
								<option value="Classic Twin Room">Classic Twin Room</option>
								<option value="Deluxe Double Room">Deluxe Double Room</option>
								<option value="Deluxe Room">Deluxe Room</option>
								<option value="Deluxe Twin Room">Deluxe Twin Room</option>
								<option value="Double Room">Double Room</option>
								<option value="Double Room Single Use">Double Room Single Use</option>
								<option value="Executive Room">Executive Room</option>
								<option value="Executive Suite">Executive Suite</option>
								<option value="Executive Twin Room">Executive Twin Room</option>
								<option value="Family Room">Family Room</option>
								<option value="Junior Suite">Junior Suite</option>
								<option value="Quadruple Room">Quadruple Room</option>
								<option value="Single Room">Single Room</option>
								<option value="Standard Double Room">Standard Double Room</option>
								<option value="Standard Room">Standard Room</option>
								<option value="Standard Single Room">Standard Single Room</option>
								<option value="Standard Twin Room">Standard Twin Room</option>
								<option value="Studio">Studio</option>
								<option value="Suite">Suite</option>
								<option value="Suite, 1 Bedroom">Suite, 1 Bedroom</option>
								<option value="Superior Double Room">Superior Double Room</option>
								<option value="Superior Room">Superior Room</option>
								<option value="Superior Twin Room">Superior Twin Room</option>
								<option value="Triple Room">Triple Room</option>
								<option value="Twin Room">Twin Room</option>
							</select>
						</div>
					</div>
					<hr />
					<div class="text-center">
						<button type="button" class="btn btn-lg btn-outline-success" ng-click="step=2">Go to next step >></button>
					</div>
				</div>
				<div class="tab-pane fade in" id="second" ng-class="{ 'active' : step == 2 }">
					<div id="uploaded">
						 <h2>Please upload your property pictures</h2>

						<div>
							<div ng-show="uploader.isHTML5">
								<div class="well my-drop-zone" nv-file-over="" uploader="uploader" style="height: 200px">Drop your photos here !</div>
							</div>
							<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
							<input type="file" nv-file-select="" uploader="uploader" multiple />
							<br/>
						</div>
						<div style="margin-bottom: 40px">
							 <h2>Uploads only images</h2>

							<table class="table">
								<thead>
									<tr>
										<th width="50%">Name</th>
										<th ng-show="uploader.isHTML5">Size</th>
										<th ng-show="uploader.isHTML5">Progress</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in uploader.queue">
										<td> <strong>{{ item.file.name }}</strong>

											<!-- Image preview -->
											<!--auto height-->
											<!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
											<!--auto width-->
											<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
											<!--fixed width and height -->
											<!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
										</td>
										<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
										<td ng-show="uploader.isHTML5">
											<div class="progress" style="margin-bottom: 0;">
												<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
											</div>
										</td>
										<td class="text-center"> <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
 <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
 <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>

										</td>
										<td nowrap>
											<!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">	<span class="glyphicon glyphicon-upload"></span> Upload</button>
                                 <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">	<span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
                                 <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">	<span class="glyphicon glyphicon-trash"></span> Remove</button>-->
										</td>
									</tr>
								</tbody>
							</table>
							<div>
								<div>Queue progress:
									<div class="progress" style="">
										<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
									</div>
								</div>
								<!-- <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">	<span class="glyphicon glyphicon-upload"></span> Upload and start analysis</button> -->
								<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">	<span class="glyphicon glyphicon-ban-circle"></span> Cancel all</button>
								<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">	<span class="glyphicon glyphicon-trash"></span> Remove all</button>
							</div>
						</div>
						<hr />
						<div class="text-center">
							<button type="button" class="btn btn-lg btn-outline-success" ng-click="uploader.uploadAll(); step=3" ng-disabled="!uploader.getNotUploadedItems().length">Upload and start analysis</button>
						</div>
					</div>
				</div>
				<div class="tab-pane fade in" id="thrid" ng-class="{ 'active' : step == 3 }">
					<div id="propertyInformation">
						<h3>Property information</h3>
                         
                        <div class="form-group">
							<label>Property type</label>
							<select class="form-control" ng-model="propertyType">
                              <option value="HOTEL">HOTEL</option>
                              <option value="MOTEL">MOTEL</option>
                              <option value="APART_HOTEL">APART_HOTEL</option>
                              <option value="BED_AND_BREAKFAST">BED_AND_BREAKFAST</option>
                              <option value="INN">INN</option>
                              <option value="APARTMENT">APARTMENT</option>
                              <option value="CONDO">CONDO</option>
                              <option value="COTTAGE">COTTAGE</option>
                            </select>
						</div>
                        <div class="form-group">
							<label>Property name</label>
							<input type="text" class="form-control" ng-model="HotelName" />
						</div>
						<div class="form-group">
							<label>Property address</label>
							<input type="text" class="form-control" id="physicalautocomplete" placeholder="Enter your address" autocomplete="false" />
						</div>
                        
                        <div class="form-group">
							<ul class="list-inline">
								<li ng-repeat="amen in featuredAmenityEnum">
									<input type="checkbox" ng-model="HotelAmenities[ amen ]" ng-true-value="1" ng-false-value="0" />
									<label>{{amen}}</label>
								</li>
							</ul>
						</div>

						<div id="propertyPhotos">
							 <h4>Property photos</h4>
                              <div ng-show="mediaTags">
								<ul class="list-unstyled list-inline">
									<li ng-repeat="media in mediaTags track by filename" ng-if="media.type == 'property'">
										<img ng-src="uploads/{{media.filename}}" width=150 />
									</li>
								</ul>
							</div>
						</div>
                        
                        <div id="propertyDescription">
                          <h4>Property description</h4>
                          <div>
                            <p>This description is automatically generated, feel free to edit :</p>
                            <textarea class="form-control" ng-model="propertyDescription"></textarea>
                          </div>
                        </div>
                        
                        <!-- <div id="propertyDescription">
							 <h3>Property description</h3>
                            <div id="activities">
                                <div id="results"></div>
                
                                <h5>Nearby activities</h5>
                                <div ng-repeat="activity in activitiesFound">
                                    {{activity}}
                                </div>
                                <h5>Nearby POI</h5>
                                <div ng-repeat="poi in foundPOI">
                                    <b>{{poi.name}}</b> :
                                    <div ng-repeat="type in poi.types">
                                        {{type}}
                                    </div>
                                    <br/>
                                </div>
                            
                            </div>
						</div> -->
                        
                        
						<!-- <div id="propertyPOI">
                <h4>Property POI</h4>
                
              </div> -->
                        
                    </div>
                    <hr />
                    <div id="roomDescription2">
						<h2>Room description</h2>
						<div class="form-group">
							<label>View</label>
							<select class="form-control" ng-model="PropertyRoom.views" ng-options="label for label in viewEnum"></select>
						</div>
						
                        <div class="form-group">
                          <label>Room amenities</label>
                          <div class="form-group">
                              <ul class="list-inline">
                                  <li ng-repeat="amen in roomAmenities">
                                      <input type="checkbox" ng-model="roomAmenitiesList[ amen ]" ng-true-value="1" ng-false-value="0" />
                                      <label>{{amen}}</label>
                                  </li>
                              </ul>
                          </div>
                        </div>
                        
						<div id="roomPhotos" ng-show="startAnalysis">
							 <h4>Room photos</h4>

							<div ng-show="mediaTags">
								<ul class="list-unstyled list-inline">
									<li ng-repeat="media in mediaTags track by filename" ng-if="media.type != 'property'">
										<img ng-src="uploads/{{media.filename}}" width=150 />
									</li>
								</ul>
							</div>
						</div>
					</div>
					<hr />
					<div class="text-center">
						<button type="button" class="btn btn-lg btn-outline-success">Send data to Expedia</button>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>